{% extends "base.html" %}
{% load static %}

{% block title %}Professor | VentureGotchi{% endblock %}
{% block body_class %}professor-page{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/professor.css' %}">
{% endblock %}


{% block content %}

<div style="margin-top: 16px;">
  <a class="btn" href="{% url 'core:dashboard' %}">Voltar ao Dashboard</a>
</div>
<main class="professor-dashboard">



  <h1>Painel do Professor</h1>
  <p class="subtitle">Gerencie tarefas e acompanhe seus alunos</p>

  <section class="card">
    <h2>📋 Tarefas</h2>
    <ul class="task-list">
      {% for mission in missions %}
      <li>
        <a href="{% url 'missions:detail' mission.id %}">
          {{ mission.title }}
        </a>

        <span class="badge active">Ativa</span>
      </li>
      {% empty %}
      <li>
        <span>Nenhuma tarefa criada ainda.</span>
      </li>
      {% endfor %}
    </ul>

    {% if perms.missions.add_mission %}
    <a href="{% url 'missions:create' %}" class="btn btn-primary">
      ➕ Criar tarefa
    </a>
    {% endif %}

  </section>

  <section class="card">
    <h2>👥 Alunos</h2>

    <ul class="student-list">
      <li>
        <span>@joao</span>
        <span>Nível 4 • 320 XP</span>
      </li>
      <li>
        <span>@maria</span>
        <span>Nível 6 • 540 XP</span>
      </li>
      <li>
        <span>@ana</span>
        <span>Nível 3 • 210 XP</span>
      </li>
    </ul>
  </section>

</main>
{% endblock %}