{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}VentureGotchi{% endblock %}</title>

    <!-- CSS principal -->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" href="{% static 'css/variables.css' %}" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/components.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" />

    <!-- CSS específico da página -->
    {% block extra_css %}{% endblock %}

   
  </head>

  <body>
    <!-- Topbar global -->
    <header class="topbar">
      <h1>VentureGotchi</h1>

      {% if user.is_authenticated %}
      <div class="user-level">
        Lv {{ request.user.profile.level|default:"1" }}
      </div>
      <form method="post" action="{% url 'logout' %}" style="display: inline">
        {% csrf_token %}
        <button type="submit">Sair</button>
      </form>
      {% endif %}
    </header>

    <!-- Conteúdo das páginas -->
    <main>{% block content %} {% endblock %}</main>

    <!-- JS -->
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
