{% extends 'base.html' %} {% load static %} {% block content %}

<div class="home">
  <div class="dashboard-card">
    <h1>Bem-vindo, {{ nome_usuario }}!</h1>
    <p class="info">Esta é a <strong>Venture Gotchi</strong></p>
    <p class="info">Prepare-se para novos desafios!</p>

    <ul class="lista-desafios">
      {% for atos in atividades %}
      <li>{{atos}}</li>
      {% endfor %}
    </ul>

    {% if nome_usuario == 'Gotcher' %}
    <p class="info">
      Este é o desafio para <strong>{{ nome_usuario }}</strong>!
    </p>
    {% endif %}
    <!--  Link para ir ao Dashboard do usuário -->
    <a href="{% url 'dashboard' %}" class="btn">Ir para o Dashboard</a>
  </div>
</div>

{% endblock %}
